html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #f7f7f7
}
body {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
   /* -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    /*-webkit-transform-style: preserve-3d;*/
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
    color: #333333;
    border:0.001rem solid transparent;
}
body,div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block;
}
audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
fieldset, img, input, button, textarea{
    border: none;
    outline-style: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 0;
}
i,em{
    font-style: normal;
}
/*去掉IOS系统元素被触摸时产生的半透明灰色这招*/
a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*-webkit-user-modify:read-write-plaintext-only;*/
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
img {
    border: 0;
}
code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-textfield-decoration-container {
    background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover,
a:focus {
    text-decoration: none;
}
a:focus {
    /*outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;*/
    outline-offset: -2px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
ul,li,ol{
    list-style:none;
    margin: 0;
    padding: 0;
}
html,body{
    min-width: 320px;
    height: 100%;
}
strong,h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
@media screen and (max-width: 360px){
    html{
        font-size:90px;
    }
}

/*竖屏时使用的样式*/
@media all and (orientation:portrait) {

}

/*横屏时使用的样式*/
@media all and (orientation:landscape) {

}
body{
    background-color: #f7f7f7;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.text-r{
    text-align: right;
}
.text-c{
    text-align: center;
}
.fb{
    font-weight: 600;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mt_5{
    margin-top: 0.05rem;
}
.mt_10{
    margin-top: 0.1rem;
}
.ml_10{
    margin-left: 0.1rem;
}
.ml_09{
    margin-left: 0.09rem;
}
.c007{
    color: #007DCF;
}
.f12{
    font-size: 0.12rem;
}
.f14{
    font-size: 0.14rem;
}
.f16{
    font-size: 0.16rem;
}
.f18{
    font-size: 0.18rem;
}
.f24{
    font-size: 0.24rem;
}
.cccc{
    color: #cccccc;
}
.caaa{
    color: #AAAAAA;
}
.c000{
    color: #000000;
}
.c333{
    color: #333333;
}
.c666{
    color: #666666;
}
.c999{
    color: #999999;
}
.ceb{
    color: #EBEBEB;
}
.cfff{
    color: #ffffff;
}
.in_bl{
    display: inline-block;
}
.block{
    display: block;
}
/* ============================================================
   flex：定义布局为盒模型
   flex-v：盒模型垂直布局
   flex-1：子元素占据剩余的空间
   flex-align-center：子元素垂直居中
   flex-pack-center：子元素水平居中
   flex-pack-justify：子元素两端对齐
   兼容性：ios 4+、android 2.3+、winphone8+
   ============================================================ */
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-2{-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;}
.flex-3{-webkit-box-flex:3;-webkit-flex:3;-ms-flex:3;flex:3;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}

.icon{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.icon_help,.icon_record,.icon_search,.icon_payment,.icon_rule,.icon_paytips{
    width: 0.3rem;
    height:0.3rem;
}
.icon_help{
    background-image: url("../images/help@2x.png");
}
.icon_record{
    background-image: url("../images/repay history@2x.png");
}
.icon_search{
    background-image: url("../images/bill@2x.png");
}
.icon_paytips{
    background-image: url("../images/warn@2x.png");
}
.icon_payment{
    background-image: url("../images/repayment@2x.png");
}
.icon_rule{
    background-image: url("../images/assist@2x.png");
}
.icon_manage{
    width: 0.26rem;
    height:0.26rem;
    background-image: url("../images/setting.png");
}
.icon_fail{
    width: 0.5rem;
    height:0.5rem;
    border:0.06rem solid #D81E06;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon_fail:before{
    content: '';
    display: inline-block;
    width: 0.06rem;
    height: 0.26rem;
    background-color: #D81E06;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -0.13rem;
    margin-left: -0.03rem;
}
.icon_fail:after{
    content: '';
    display: inline-block;
    width: 0.26rem;
    height: 0.06rem;
    background-color: #D81E06;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -0.03rem;
    margin-left:  -0.13rem;
}
.help_main{
    padding-bottom: 0.46rem;
}
.icon_success{
    width: 0.5rem;
    height:0.5rem;
    border: 0.06rem solid #74CD72;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}
.icon_success:after{
    content: '';
    display: inline-block;
    width: 0.14rem;
    height: 0.25rem;
    border: 0.06rem solid #74CD72;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    margin-left: -0.07rem;
    top: 0.03rem;
}

.icon_handle{
    width: 0.5rem;
    height:0.5rem;
    border: 0.06rem solid #74CD72;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}
.icon_handle:after{
    content: "";
    display: inline-block;
    width: 0.2rem;
    height:0.2rem;
    border:0.06rem solid #74CD72;
    border-top-width:0;
    border-right-width:0;
    position: absolute;
    top:0.05rem;
    left:0.14rem;
}
.page-container{
    min-height: 100%;
}


/*还款成功状态栏*/
.order_state.success .tit{
    color:#74CD72;
}
.order_state.success .icon{
    background-color:#74CD72;
}
.order_state.success li:before{
    background-color: #74CD72;
}
.order_state.success .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 0.08rem;
    height:0.14rem;
    border:2px solid #fff;
    border-top-width:0;
    border-left-width:0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left:50%;
    margin-left: -0.04rem;
    top:0.05rem;
}
/*还款失败状态*/
.order_state.fail .tit{
    color:#74CD72;
}
.order_state.fail .icon{
    background-color:#74CD72;
}
.order_state.fail li:nth-child(3) .icon{
    background-color:#D81E06;
}
.order_state.fail li:nth-child(3) .tit{
    color: #D81E06;
}
.order_state.fail li:before{
    background-color: #74CD72;
}
.order_state.fail li:nth-child(2):before{
    background-color: #D81E06;
}
.order_state.fail li:nth-child(1) .icon_order_state:after,.order_state.fail li:nth-child(2) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 0.08rem;
    height:0.14rem;
    border:2px solid #fff;
    border-top-width:0;
    border-left-width:0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left:50%;
    margin-left: -0.04rem;
    top:0.05rem;
}
.order_state.fail li:nth-child(3) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 14px;
    height:2px;
    background-color: #fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -7px;
    margin-top: -1px;
}
.order_state.fail li:nth-child(3) .icon_order_state:before{
    content: '';
    display: inline-block;
    width:2px;
    height:14px;
    position: absolute;
    background-color: #fff;
    top:50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -1px;
}
.order_state.fail li:nth-child(3) .icon_order_state{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*处理中*/
.order_state.handle .tit{
    color:#74CD72;
}
.order_state.handle .icon{
    background-color:#74CD72;
}
.order_state.handle li:nth-child(3) .icon{
    background-color:#ccc;
}
.order_state.handle li:nth-child(3) .tit{
    color: #999;
}
.order_state.handle li:before{
    background-color: #74CD72;
}
.order_state.handle li:nth-child(2):before{
    background-color: #ccc;
}
.order_state.handle li:nth-child(1) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 0.08rem;
    height:0.14rem;
    border:2px solid #fff;
    border-top-width:0;
    border-left-width:0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left:50%;
    margin-left: -0.04rem;
    top:0.05rem;
}
.order_state.handle li:nth-child(2) .icon_order_state:after{
    content: "";
    display: inline-block;
    width: 0.1rem;
    height:0.1rem;
    border:2px solid #fff;
    border-top-width:0;
    border-right-width:0;
    position: absolute;
    top:0.05rem;
    left:0.11rem;
}
.order_state.handle li:nth-child(3) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 0.08rem;
    height:0.14rem;
    border:2px solid #fff;
    border-top-width:0;
    border-left-width:0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left:50%;
    margin-left: -0.04rem;
    top:0.05rem;
}
.order_state .icon{
    width: 0.26rem;
    height:0.26rem;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    position: relative;
    background-color: #74CD72;
}
.headers{
    background-color: #ffffff;
    padding: 0.1rem 0.15rem 0.2rem;
}
.header-tip{
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    top:3px;
    height:0.48rem;
}
.header-func{
     height:0.52rem;
 }
.add_card_top{
    padding: 0.15rem;
}
.add_card_top .add_card_btn{
    display: block;
    line-height: 1.1rem;
    border:1px dashed #B2B2B2;
    height:1.1rem;
    background-color: #ffffff;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
    margin-bottom: 0.2rem;
}
.index_main .card_logo{
    border:1px solid #fff;
    text-align: center;
    background-color: #ffffff;
}
.card_logo{
    margin-right: 0.1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 0.36rem;
    height:0.36rem;
}
.card_logo img{
    width: 100%;
    height:100%;
}
.item_card_info{
    border-bottom: 1px solid #eeeeee;
}
.card_open_state{
    line-height: 0.34rem;
    height: 0.34rem;
}
.card_list{
    padding: 0.15rem;
}
.card_item{
    background-color: rgb(59, 141, 238);
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
}
.card_item>a{
    padding: 0 0.1rem;
}
.item_card_info{
    line-height: 2;
    padding: 0.1rem 0;
}
.add_card{
    padding:0 0.15rem 0.15rem;
}
.add_card .btn{
    height:0.44rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    border:1px dashed #B2B2B2;
    color: #696969;
    line-height: 0.44rem;
}
.footer{
    height: 0.4rem;
    line-height: 0.4rem;
}
.record_item .list{
    background-color: #fff;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.record_item .item {
    border-bottom: 1px solid #EEEEEE;
    line-height: 1.5;
    padding: 0.1rem 0.25rem 0.1rem 0.15rem;
}
.record_item .item a{
    color: #000;
}
.record_item .item.enter_arrow:after{
    right: 0.15rem;
}
.record_item .item.success .record_amount p{
    color: #16B065;
}
.record_item .item.fail .record_amount p{
    color: #DF122B;
}
.record_item .item.success .record_amount p{
    color: #16B065;
}
.record_item .item:last-child{
    border-bottom: none;
}
.record_time{
    line-height: 0.4rem;
    padding: 0 0.1rem;
}
.onOff .checked_val{
    display: none;
}
.onOff .onOff_label{
    display: inline-block;
    width: 0.5rem;
    height:0.3rem;
    box-shadow: #ccc 0px 0px 0px 1px;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    background-color: #fff;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}
.onOff .onOff_label:before{
    content: '';
    position: absolute;
    left:0rem;
    width:0.3rem;
    height:0.3rem;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: #ccc 0px 0px 0px 1px;
}
.onOff .checked_val:checked + label.onOff_label:before{
    left:0.2rem;
}
.onOff .checked_val:checked + label.onOff_label{
    background-color: rgb(68, 219, 94);
    box-shadow: rgb(68, 219, 94) 0px 0px 0px 1px;
}
.add_form{
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding-left: 0.15rem;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
.add_form input[disabled="disabled"]{
    background-color: #fff;
}
.add_form .item{
    height:0.46rem;
    border-bottom: 1px solid #EEEEEE;
    padding-right: 0.3rem;
    position: relative;
}
.add_form .item:last-child{
    border-bottom:none;
}
.add_form .item label{
    display: inline-block;
    width: 0.45rem;
}
.add_form .item input{
    border:none;
    flex: 6;
    padding: 0.1rem 0;
}
.cardList_main .bank img {
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
}
.cardList_main .bank p {
    margin-left: 0.45rem;
    font-size: 0.12rem;
    color: #888888;
}
.cardList_main .bank h5 {
    margin-left: 0.45rem;
    font-size: 0.15rem;
}
.cardList_main .bank {
    height: 0.64rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding-top: 0.15rem;
    padding-left: 0.15rem;
}
.icon_del{
    display:inline-block;
    position: absolute;
    width: 0.14rem;
    height: 0.14rem;
    background: url("../images/cancel@2x.png");
    background-size: 100% 100%;
    right: 0.15rem;
    top:50%;
    margin-top: -0.07rem;
}
.icon_inf{
    display: none;
    position: absolute;
    width: 0.16rem;
    height: 0.16rem;
    background: url(../images/inf@2x.png);
    background-size: 100% 100%;
    right: 0.15rem;
}
.onOff{
    height:0.48rem;
}
.open_bill_tips{
    background-color: #fff;
    padding: 0 0.15rem;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    line-height: 0.48rem;
}
.open_bill_tips  .dateReminder{
    border-top: 1px solid #EEEEEE;
    display: none;
}
.button_default {
    display: block;
    width: 100%;
    margin: 0.1rem auto;
    background-color: #BCBCBC;
    height:0.44rem;
    line-height: 0.44rem;
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    letter-spacing: 4px;
}
.button_default.btn{
    background-color: #007DCF;
}
.add_form_submit{
    padding: 0 0.1rem;
    margin-top: 0.2rem;
}
.addCreditCard_mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:999;
    background-color: rgba(0, 0, 0, 0.4);
}
.addCreditCard_mask .modal-content {
    width: 72%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 8px;
}
.addCreditCard_mask .modal-content .tittle {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 0.2rem 0.15rem;
}
.addCreditCard_mask .modal-content .button {
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    display: flex;
    font-size: 0.17rem;
}
.addCreditCard_mask .modal-content .tittle h5 {
    font-weight: 700;
    font-size: 0.17rem;
    color: #030303;
}
.addCreditCard_mask .modal-content .tittle p {
    font-size: 0.13rem;
    color: #030303;
    margin-top: 0.05rem;
}
.addCreditCard_mask .modal-content .button a {
    flex: 1;
    color: #0076FF;
}
.addCreditCard_mask .modal-content .button a:first-child {
    border-right: 1px solid #eee;
}
.enter_arrow {
    position: relative;
}
/*.enter_arrow a::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.12rem;
    height:0.12rem;
    border:2px solid #ccc;
    right: 0.1rem;
    top:50%;
    margin-top: -0.06rem;
    border-left-width:0;
    border-bottom-width:0;
    transform: rotate(45deg);
}*/
.help_list .item{
    padding-left: 0.1rem;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    background-color: #fff;
    margin-top: 0.1rem;
}
.help_list .item p{
    line-height: 0.46rem;
    height:0.46rem;
}
.help_list .enter_arrow::after{
    transform: rotate(135deg);
}
.help_list .item div{
    display:none;
}
.help_list .item.active .enter_arrow::after{
    transform: rotate(-45deg);
}
.help_list .item.active div{
    border-top: 1px solid #EEEEEE;
    display: block;
}
.help_list .item .txt{
    padding: 0.1rem 0.1rem 0.1rem 0;
}
.help_list .item .txt strong,.help_list .item .txt h1,.help_list .item .txt h2,.help_list .item .txt h4,.help_list .item .txt h5{
    font-weight: 600;
}
.help_contact_fiexd{
    position: fixed;
    height:0.4rem;
    width:100%;
    line-height: 0.4rem;
    left:0;
    bottom:0;
    background-color: #fff;
    display: block;
}
.help_contact_fiexd span{
    vertical-align: middle;
}
.icon_tel{
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    background: url("../images/tele.png")  no-repeat center;
    background-size: 0.26rem;
    vertical-align: middle;
    margin-right: 0.06rem;
}
table{
    width: 100%;
    max-height: 4rem;
    overflow-y: hidden;
}
tr{
    text-align: center;
}
th, td {
    border: 1px solid #eeeeee;
}
.repayment_header{
    padding: 0.15rem;
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
}
.repayment_header .header_fl .repayment_user_info{
    line-height: 1.8;
}
.repayment_header .header_fr{
    line-height: 1.8;
}
.repayment_header .header_fr a{
    display: inline-block;
    vertical-align: middle;
}
.repayment_info{
    /*padding: 0.1rem 0.15rem;*/
    line-height: 2;
}
.repayment_info p span{
    display: inline-block;
    width: 0.7rem;
}
.repayment_info p strong{
    display: inline-block;
    /*max-width: 88px;*/
}
.repayment_amount{
    background-color: #fff;
    /*padding: 0 0.15rem 0.15rem 0.15rem;*/
    padding-left: 0.15rem;
}
.min_amount_tip{
    border-bottom: 1px solid #EEEEEE;
    line-height: 0.36rem;
    padding-right: 0.15rem;
}
.amount_input{
    font-weight: 500;
    font-size: 0.36rem;
    border-bottom: 1px solid #EEEEEE;
    padding-right: 0.15rem;
    position: relative;
}
.amount_input .icon_del{
    top:50%;
    margin-top: -0.07rem;
}
.amount_input label{
    width: 0.34rem;
    line-height: 0.66rem;
}
.amount_input input{
    padding: 0.12rem 0;
    width: 89%;
    line-height: 1;
}
.amount_type{
    line-height: 0.46rem;
}
.button_default.button_blue{
    background-color: #007DCF;
}
.details_info_main{
    background-color: #fff;
}
.details_info_states{
    padding: 0.1rem;
    border-bottom:1px solid #EEEEEE;
}
.details_info_icon{
   text-align: center;
}
.details_info_bill{
    line-height: 2;
    padding: 0.1rem 0.15rem;
}
.details_info_bill h4,.details_info_bill p{
    font-size: 0.16rem;
}
.details_info_bill h4{
    font-weight: 500;
}
.details_info_bill p{
    color: #999;
}
.order_process{
    background-color: #fff;
    padding: 0.15rem;
}
.order_state{
    padding: 0.1rem 0;
}
.order_state li{
    position: relative;
}
.order_state li:before{
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 0.26rem);
    height:1px;
    background-color: #74CD72;
    left: calc(50% + 0.26rem/2);
    top:0.13rem;
}
.order_state .tit{
    color: #74CD72;
}
.contact_us{
    padding: 0.15rem;
}
.contact_us a{
    background-color: #fff;
    border:1px dashed #B2B2B2;
    color: #696969;
}
.order_state li:last-child:before{
    display: none;
}
.contact_us .button_default{
    letter-spacing: 0;
}
.enter_set{
    background-color: #fff;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
}
.enter_set .item{
    line-height: 0.48rem;
    height:0.48rem;
    padding-right: 0.3rem;
    margin-left: 0.15rem;
    position: relative;
}
.enter_set .item a{
    height: 0.48rem;
}
.border_bottom{
    border-bottom:1px solid #EEEEEE;
}
.del_btn{
    background-color: #fff;
}
.del_btn button{
    background-color: #fff;
    height:0.48rem;
    display: block;
    width: 100%;
    color: #D0021B;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    margin: 0.1rem auto;
}
.border_top_bottom{
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
}
.bg_fff{
    background-color: #fff;
}
.pd_lr{
    padding: 0 0.15rem;
}
.pd_r{
    padding-right: 0.15rem;
}
.pd_l{
    padding-left: 0.15rem;
}
.colom_lh{
    line-height: 0.48rem;
    height:0.48rem;
}
.input_number label{
    flex: 2;
}
.input_number input{
    padding: 0.1rem 0;
    line-height: 1;
    flex: 6;
}
.input_send_num label{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.input_send_num input{
    min-width: 0;
    -webkit-box-flex:8;
    -webkit-flex:8;
    -ms-flex:8;
    flex:8;
    padding: 0.1rem 0;
    line-height: 1;
}
.tel_validate{
    line-height: 0.48rem;
}
.tel_validate .input_number{
    position: relative;
}
.send_num_btn button{
    display: block;
    width: 100%;
    height:0.28rem;
    background-color: #fff;
    border-left: 1px solid #EEEEEE;
    line-height: 0.28rem;
}
.bill_button{
    padding: 0 0.15rem;
    margin: 0.2rem 0;
}
.bill_button button{
    letter-spacing: 0;
}
.item_card_amount h4{
    height:0.32rem;
    line-height: 0.32rem;
}
.index_main{
    min-height: 5rem;
}

.loader {
    font-size: 14px;
    height: 30px;
    width: 45px;
    margin-top: -6px;
}
@-webkit-keyframes loading {
    from {opacity: 1;}
    to {opacity: 0.2;}
}
.loading {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    width: 12px;
    height: 12px;
    vertical-align: 7px;
}
.loading span {
    display: inline-block;
    width: 20%;
    height: 40%;
    background: #f7f7f8;
    position: absolute;
    left: 100%;
    top: 100%;
    opacity: 0;
    -webkit-animation: loading 0.9s linear infinite;
    -webkit-border-radius: 30px;
}
.repayment_info .loader{
    margin: 0 auto;
}
.repayment_info .loading span{
    background-color: #000;
}
.loading .bar1 {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
}
.loading .bar2 {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.9167s;
}
.loading .bar3 {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.833s;
}
.loading .bar4 {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
}
.loading .bar5 {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.667s;
}
.loading .bar6 {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.5833s;
}
.loading .bar7 {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
}
.loading .bar8 {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41667s;
}
.loading .bar9 {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.333s;
}
.loading .bar10 {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
}
.loading .bar11 {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.1667s;
}
.loading .bar12 {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.0833s;
}
.open_bill_btn{
    background-color: #fff;
    height: 0.46rem;
    line-height: 0.48rem;
    color: #333;
    /*padding: 0 0.15rem;*/
    padding-left: 0.15rem;
    margin-bottom: 0.1rem;
    border-bottom: 1px solid #EEEEEE;
}
.open_bill_btn .enter_arrow{
    padding-right: 0.3rem;
}
.pd_15{
    padding: 0.15rem;
}
/*autopayment页面*/
.autoRepaymentPage_main input[type="checkbox"]{
    -webkit-appearance:checkbox;
    vertical-align: middle;
}
.autoRepaymentPage_main .bankInfo{
    padding: 0.2rem 0.15rem;
    background-color: #fff;
}
.autoRepaymentPage_main .expiryDate_title {
    padding-left: 0.15rem;
    height: 0.3rem;
    line-height: 0.4rem;
}
.autoRepaymentPage_main  .remindingInformation{
    padding: 0.05rem 0.15rem;
}
.icon_selected {
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    background: url("../images/selected.png")  no-repeat;
    background-size: 0.26rem 0.26rem;
}
.autoRepaymentPage_main .agree a {
    vertical-align: middle;
    color: #007DCF;
}
.autoRepaymentPage_main .agree label{
    vertical-align: middle;
}
.autoRepaymentPage_main .agree {
    margin-top: 0.2rem;
    padding-left: 0.15rem;
}
.autoRepaymentPage_main .agreeButton{
    padding-top: 0.1rem;
}
.autoRepaymentPage_main .agreeButton #cancel{
    background-color: #fff;
    color:#333333 ;
    border: 1px solid #cccccc;
}
.autoRepaymentPage_main .agree label:last-child {
    letter-spacing: 1px;
    vertical-align: middle;
}
.enter_arrow::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.12rem;
    height:0.12rem;
    border:0.02rem solid #ccc;
    right: 0.2rem;
    top:50%;
    margin-top: -0.07rem;
    border-left-width:0;
    border-bottom-width:0;
    transform: rotate(45deg);
}
.open_bill_tips .dateReminder.enter_arrow:after{
    right: 0.05rem;
}
.up_res{
    height:0;
    text-align: center;
    line-height:36px;
    overflow: hidden;
}
.down_res{
    line-height: 32px;
    text-align: center;
    font-size: 0.12rem;
    color: #666;
}
.icon_cancel {
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    background: url("../images/cancel@2x.png")  no-repeat;
    background-size: 0.14rem 0.14rem;
    margin: 0.15rem;
}
.final_bottom .final_bottom_container .border_bottom{
    line-height: 0.35rem;
    height:0.35rem;
}
#certChange{
    padding-right: 0.3rem;
}
#certNums{
    margin-left: 0.06rem;
}
/*卡号mask提示*/
.tips_state{
    z-index: 99;
    position: fixed;
    width: 80%;
    max-width: 630px;
    text-align: center;
    line-height: 1.5;
    left: 50%;
    top: 40%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 0.16rem;
    padding: 10px 2%;
    border-radius: 9px;
    height:auto;
    transform: translateX(-50%) translateY(-50%);
}
/*yf*/
.cardList_main{
    /*position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;*/
    background-color: #fff;
}
.pull_down{
    overflow: hidden;
    height:0;
    line-height: 0.32rem;
    text-align: center;
}
.pull_up{
    overflow: hidden;
    height:0.32rem;
    line-height: 0.32rem;
    text-align: center;
}
#read{
    display: none;
}
.read_label{
    position: relative;
    padding-left: 0.2rem;
}
.icon_read_checked{
    position: absolute;
    left:0;
    width: 0.16rem;
    height:0.16rem;
    top:50%;
    margin-top: -0.08rem;
    border-radius: 50%;
    border:1px solid #ccc;
    display: block;
}
.icon_read_checked:after{
    content: "";
    display: block;
    width: 0.09rem;
    height:0.04rem;
    border:1px solid #fff;
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-45deg);
    position: absolute;
    left:0.03rem;
    top:0.04rem;
}
#read:checked + label.read_label .icon_read_checked{
    background-color: #007DCF;
    border-color: #007DCF;
}
.state_mask{
    position: fixed;
    width: 1rem;
    height:0.74rem;
    top:50%;
    margin-top: -0.5rem;
    left:50%;
    margin-left: -0.37rem;
    background-color: rgba(0,0,0,0.7);
    -webkit-border-radius: 0.09rem;
    -moz-border-radius: 0.09rem;
    border-radius: 0.09rem;
    text-align: center;
}
.state_mask i{
    display: inline-block;
    width: 0.29rem;
    height:0.29rem;
    margin-top: 0.14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.state_mask i.suc{
    background-image:url("../images/complete.png");
}
.state_mask i.fails{
    background-image:url("../images/Errer.png");
}
.state_mask p{
    line-height: 1.6;
    color: #fff;
    font-size: 0.14rem;
}
/*
#read:checked + label.read_label .icon_read_checked:before{
    display: block;
}*/
.repayment_info p span.auto-repayment-border{
    width: 70px;
    height:20px;
    background: url("../images/autotips.png") no-repeat center;
    background-size: contain;
    /*margin-right: 0.03rem;*/
    line-height: 20px;
    color: #f5a623;
    font-size: 14px;
    text-indent: 4px;
    position: relative;
    top:4px;
}
@media screen and (min-width: 320px) and (max-width: 370px) {
    .repayment_info p span.auto-repayment-border{
        width: 63px;
        height:18px;
        line-height:18px;
        font-size: 12px;
        top:3px;
    }
}
.lh_40{
    line-height: 0.4rem;
}
.auto_enter{
    padding-right: 0.3rem;
    line-height: 0.4rem;
    color: #007DCF;
}
.auto_repayment_content{
    background-color: #fff;
    padding: 0.1rem 0 0.15rem 0.1rem;
}
.auto_repayment_content img{
    width: 100%;
}
.auto_repayment_txt{
    line-height: 1.5;
}
.auto_open_icon{
    padding-right: 0.3rem;
    line-height: 0.42rem;
    color: #007DCF;
}
/*支付失败*/
.order_state.payFail .tit{
    color:#999;
}
.order_state.payFail li:nth-child(1) .tit{
    color: #D81E06;
}

.order_state.payFail .icon{
    background-color:#ccc;
}
.order_state.payFail li:nth-child(1) .icon{
    background-color:#D81E06;
}
.order_state.payFail li:before{
    background-color: #999;
}
.order_state.payFail li:nth-child(1) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 14px;
    height:2px;
    background-color: #fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -7px;
    margin-top: -1px;
}
.order_state.payFail li:nth-child(1) .icon_order_state:before{
    content: '';
    display: inline-block;
    width:2px;
    height:14px;
    position: absolute;
    background-color: #fff;
    top:50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -1px;
}
.order_state.payFail li:nth-child(1) .icon_order_state{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.order_state.payFail li:nth-child(2) .icon_order_state:after{
    content: "";
    display: inline-block;
    width: 0.1rem;
    height:0.1rem;
    border:2px solid #fff;
    border-top-width:0;
    border-right-width:0;
    position: absolute;
    top:0.05rem;
    left:0.11rem;
}
.order_state.payFail li:nth-child(3) .icon_order_state:after{
    content: '';
    display: inline-block;
    width: 0.08rem;
    height:0.14rem;
    border:2px solid #fff;
    border-top-width:0;
    border-left-width:0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left:50%;
    margin-left: -0.04rem;
    top:0.05rem;
}
/*首页添加支付失败*/    
.item_card_amount h4.text-multi{
    height: auto;
    line-height: 1.5;
    max-width: 1.22rem;
   /*  text-align: left; */
    position: relative;
    margin-top: 0.04rem
}